<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bocoviewer" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>bocoviewer</name>
	<js-module name="bocoviewer" src="www/bocoviewer.js">
		<clobbers target="cordova.plugins.bocoviewer"/>
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="bocoviewer">
				<param name="ios-package" value="bocoviewer"/>
			</feature>
		</config-file>
		<source-file src="src/ios/bocoviewer.h"/>
		<source-file src="src/ios/bocoviewer.m"/>
		<source-file src="src/ios/MainViewController+RemoteEvents.h"/>
		<source-file src="src/ios/MainViewController+RemoteEvents.m"/>
	</platform>
</plugin>
